<!DOCTYPE html>

<html>

<head>

	<title> turing machine </title>

	<link type="text/css" rel="stylesheet" href="turing.css" />

	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>

	<script src="turingController.js"></script>

	

</head>






<body ng-app="turingApp" ng-controller="turingController">




	<div class="tape">

		<div class="cell" ng-repeat="x in cell">
			{{x.index}}
			<br/>
			<span>{{x.content}}</span>
		</div>

		<div class="reader" ng-click="run_program(0)" ng-class="reader.state">
			{{reader.scanning}}
		</div>

	</div>

	<h1> Q1 Q2 Q3 QN HALT</h1>



<div class="fixed">   <!-- How can I change all indents at once -->




	<div class="center_button" ng-click="scroll()">
		RETURN
	</div>

	<div class="center_button" ng-click="reset_tape()">
		RESET
	</div>

	<br/><br/>


	Speed:

	 s<input class="speed_option" name="speed_option" type="radio" checked ng-click="change_speed_slow()" />

	 f<input class="speed_option" name="speed_option" type="radio" ng-click="change_speed_fast()"/>



	<br/><br/>

	<input class="input input_value"/>
	<input class="input_value_submit" value="Submit Input" type="button" ng-click="input_v_submit()"/>


	<p> Input: {{submitted_input}} </p>
	<p> Output: {{output_total}} </p>

	<br/>


	

	
	<div class="lines">

		<div  class="staging_area">

			<div class="staging_area_container">
				<div class="temp_array_state_color" ng-class="temp_line_array[0]" ng-hide="temp_line_array[0] == null">	
					{{temp_line_array[1]}}
				</div>
			</div>
		
			<div class="staging_area_container">{{temp_line_array[2]}}</div>

			<div class="staging_area_container">{{temp_line_array[3]}}</div>

			<div class="staging_area_container">
				<div class="temp_array_state_color" ng-class="temp_line_array[4]" ng-hide="temp_line_array[4] == null"></div>
			</div>
				
			<div class="staging_area_container">
				<div class="submit_line_button" ng-click="commit_line()"><p class="plus"> + </p></div>
			</div>

		</div>

		<div class="line_row" ng-repeat="x in program" ng-class="{line_in_use: x.current_state == reader.state && x.current_scanning == reader.scanning && machine_on}" ng-mouseenter="show_delete_button($event)" ng-mouseleave="hide_delete_button($event)">


			<div class= "line_in_use_indicator" ng-show="x.current_state == reader.state && x.current_scanning == reader.scanning && machine_on"></div>

			<div class="line_row_container">
				<div class="line_row_state_color" ng-class="x.current_state">{{x.current_scanning}}</div>
			</div>

			<div class="line_row_container">{{x.print}}</div>

			<div class="line_row_container"> {{x.move}}</div>

			<div class="line_row_container">
				<div class="line_row_state_color" ng-class="x.next_state"></div>
			</div>


			<div class="delete_line_button" ng-click="delete_line($index)">D</div>
				
		</div>
			
		
	</div>







	<div class="line1_line2_menu">
	
		<div class="state_color_buttons_box" ng-repeat="x in current_state_options" ng-class="{selected_state_color_buttons_box: temp_line_array[0] == 'q'+($index+1)}">
			<div class="state_color_buttons" ng-click="add_state_to_temporary_array($index)" ng-class="'q'+($index+1)"></div>
		</div>

		<div class="scanning_buttons_box">
			1<input type="radio" name="scanning_button_option" value=1 ng-model="scanning_variable" ng-click="add_to_temporary_array()">
			0<input type="radio" name="scanning_button_option" value=0 ng-model="scanning_variable" ng-click="add_to_temporary_array()">
			B<input type="radio" name="scanning_button_option" value="B" ng-model="scanning_variable" ng-click="add_to_temporary_array()">
		</div>

	</div>






	<div class="line5_menu">

		<div class="print_buttons_box">
			1<input type="radio" name="print_button_option" value=1 ng-model="print_variable" ng-click="add_to_temporary_array()">
			0<input type="radio" name="print_button_option" value=0 ng-model="print_variable" ng-click="add_to_temporary_array()">
			B<input type="radio" name="print_button_option" value="B" ng-model="print_variable" ng-click="add_to_temporary_array()">
		</div>


		<div class="move_buttons_box">
			R<input type="radio" name="move_button_option" value="R" ng-model="move_variable" ng-click="add_to_temporary_array()">
			L<input type="radio" name="move_button_option" value="L" ng-model="move_variable" ng-click="add_to_temporary_array()">
			N<input type="radio" name="move_button_option" value="N" ng-model="move_variable" ng-click="add_to_temporary_array()">
		</div>



		<div class="state_color_buttons_box" ng-repeat="x in next_state_options" ng-class="{selected_state_color_buttons_box: temp_line_array[4] == 'q'+($index+1)}">
			<div class="state_color_buttons" ng-click="add_next_state_to_temporary_array($index)" ng-class="'q'+($index+1)"></div>
		</div>



	</div>




  </div> <!-- fixed end-->







	







</body>












</html>
